body {
  font-size: 1.2em;
  font-family: poppins, "sans-serif";
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}

:root {
  --bg-white: white;
  --txt-color: white;
  --bg-dark: #121212;
}

#to-hover,#to-hover2, #to-hover3 {
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;

}

#to-hover:hover, #to-hover2:hover, #to-hover3:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
}
