
body {
  font-size: 1.2em;
  font-family: poppins, "sans-serif";
  overflow-x: clip;
  -webkit-overflow-scrolling: touch;
  width: 100vw;
  margin: 0;
}

strong{
  color: #CE2E25FF;
}

.greenish{
    color: #11A753;
}

.ship-cont{
  overflow-x: hidden;
}

#fry, #bender, #leela
{
  border-radius: 50%;
}

#to-hover p,#to-hover2 p , #to-hover3 p{
  padding-bottom: 1em;
  font-size: 15px;
}
#to-hover,#to-hover2, #to-hover3 {
  height: 22em;
  border-radius: 20px !important;
  transition: 0.3s;
  text-align: center;
  padding: 32px;
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;

}

#to-hover:hover, #to-hover2:hover, #to-hover3:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
}

.container-fluid{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#to-hover img,#to-hover2 img , #to-hover3 img{
  border: #c7c1ad solid 2px;

}

#crewcards{
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: fit-content;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000 !important;
    color: #fff !important;
  }
  #to-hover,#to-hover2, #to-hover3 {
    background-color: #1a1a1a !important;
    color: #fff !important;
  }
  #footer-bottom {
    background-color: #11A753 !important;
    color: black !important;
  }

  footer .container {
    background-color: #3a3a3a !important;
  }
  footer .container a {
    color: #fff !important;
  }
  footer .container td{
    color: #fff !important;
  }

  #ship-cont p{
    color: #656565 !important;
  }

  .greenish{
    color: #79FB8DFF !important;
  }

  .navbar{
    background-color: #1a1a1a !important;
  }

    .navbar a {
        color: #fff !important;
    }

    .navbar .navbar-toggler{
      background-color: #3a3a3a;
    }

}