#to-hover{
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
}

#to-hover:hover{
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 10px 40px 0 rgba(0,0,0,0.4);

}
